In [4]:
import pandas as pd

#Fake interaction dataset
data = {
    "user_id": [1, 1, 2, 2, 3, 3],
    "item_id": [101, 102, 101, 103, 104, 105],
    "event": ["click", "purchase", "click", "click", "view", "purchase"], 
}

df = pd.DataFrame(data)
df

   user_id  item_id     event
0        1      101     click
1        1      102  purchase
2        2      101     click
3        2      103     click
4        3      104      view
5        3      105  purchase

In [5]:
import pandas as pd
import numpy as np

#Users
users = pd.DataFrame({
    "user_id": np.arange(1, 11),
    "age": np.random.randint(18, 50, size = 10),
    "country": np.random.choice(["KZ", "US", "JP", "NL"], size=10)
})

#Movies
items = pd.DataFrame({
    "item_id": np.arange(1, 16),
    "title": [f"Movie {i}" for i in range(1, 16)],
    "genre": np.random.choice(["Action", "Comedy", "Drama", "Sci-Fi"], size=15)
})

#User-item interactions (ratings)
interactions = pd.DataFrame({
    "user_id": np.random.choice(users["user_id"], size=40),
    "item_id": np.random.choice(items["item_id"], size=40),
    "rating": np.random.randint(1, 6, size=40)
})

print("Users:")
print(users.head())
print("\nItems:")
print(items.head())
print("\nInteractions:")
print(interactions.head())

Users:
   user_id  age country
0        1   42      JP
1        2   38      JP
2        3   31      JP
3        4   20      NL
4        5   42      US

Items:
   item_id    title   genre
0        1  Movie 1  Sci-Fi
1        2  Movie 2  Sci-Fi
2        3  Movie 3  Sci-Fi
3        4  Movie 4  Action
4        5  Movie 5  Sci-Fi

Interactions:
   user_id  item_id  rating
0        7        7       4
1        4       11       3
2        1        7       1
3        6        1       2
4        5       10       5

In [6]:
users.to_csv("C:/Users/Alikh/recsys-project/sql/users.csv", index=False)
items.to_csv("C:/Users/Alikh/recsys-project/sql/items.csv", index=False)
interactions.to_csv("C:/Users/Alikh/recsys-project/sql/interactions.csv", index=False)